// Fonts

// // * original fonts ("typewriter-y")
// $font-family-body = "Menlo", "Meslo LG", monospace
// $font-family-mono = "Menlo", "Meslo LG", monospace
// $font-family-tt = "Inconsolata", monospace

// .heading: "PT Serif", "Georgia", "Helvetica Neue", Arial, sans-serif
// .sans: "PT Sans", "Helvetica Neue", Arial, sans-serif
// .serif: "PT Serif", Georgia, Times, "Times New Roman", serif
// .mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace

// "octo" font family
// $font-family-heading = "PT Serif", "Georgia", "Helvetica Neue", Arial, sans-serif
// $font-family-sans = "PT Sans", "Helvetica Neue", Arial, sans-serif
// $font-family-serif = "PT Serif", Georgia, Times, "Times New Roman", serif
// $font-family-mono = Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace
// /* */
// $font-family-subheading = $font-family-sans
// $font-family-header = $font-family-heading
// $font-family-subheader = $font-family-header
// $font-family-section = $font-family-sans
// $font-family-body = $font-family-serif

// "rivy" font family
$font-family-sans = "Fira Sans Condensed", "Merriweather Sans", "Fira Sans", "Open Sans", "DejaVu Sans", Calibri, Arial, sans-serif
$font-family-serif = Merriweather, Lora, "Noto Serif", "DejaVu Serif", Palatino, serif
$font-family-mono = /*Inconsolata,*/ "Fira Code", "Open Sans Mono", "Anonymous Pro", "Consolas", "Lucida Console", monospace
/**/
$font-family-heading = "Raleway", $font-family-sans
$font-family-subheading = $font-family-sans
$font-family-header = "Raleway", $font-family-heading
$font-family-subheader = "Fira Sans", $font-family-header
$font-family-section = "Fira Sans Condensed", $font-family-sans
$font-family-body = $font-family-serif

$font-size = 14px
$line-height = 1.725
$page-width = 0rem + (hexo-config("page_width") || 39)

// Logo
$logo-width = 0px + (hexo-config("logo.width") || 0)
$logo-height = 0px + (hexo-config("logo.height") || 0)

// Colors
$color_scheme = hexo-config("colorscheme") || "dark"

// | text         | Body foreground color                                                                                           |
// | background   | Body background color                                                                                           |

// | primary      | Primary brand color for links, buttons, etc.                                                                    |
// | secondary    | A secondary brand color for alternative styling                                                                 |
// | accent       | A contrast color for emphasizing UI                                                                             |
// | highlight    | A background color for highlighting text                                                                        |
// | muted        | A faint color for backgrounds, borders, and accents that do not require high contrast with the background color |

// | success      | ...                                                                                                             |
// | failure      | ...                                                                                                             |
// | info         | ...                                                                                                             |
// | warning      | ...                                                                                                             |
// | danger/error | ...                                                                                                             |

$color-Gray13 = #212121
$color-Gray14 = #242424
$color-Gray20 = #333333
$color-Gray80 = #cccccc
$color-Gray95 = #f2f2f2
$color-Gray97 = #f7f7f7
$color-Gainsboro = gainsboro //* #dcdcdc
$color-GhostWhite = ghostwhite //* #f8f8ff
$color-WhiteSmoke = whitesmoke //* #f5f5f5
//
$color-222 = #222 //* #222222 ~= Gray13
$color-333 = #333 //* #333333 == Gray20
$color-ccc = #ccc //* #cccccc == Gray80
$color-f8f8f8 = #f8f8f8

// * default colors
$colors = {}

$colors['primary'] = $color-Gray13 // aka "main"
$colors['secondary'] = royalblue

$colors['light'] = $color-Gray95
$colors['accent-light'] = $color-WhiteSmoke
$colors['dark'] = $color-Gray14
$colors['accent-dark'] = $color-Gray20

$colors['failure'] = #DA2067
$colors['danger'] = #DA2067
$colors['error'] = #DA2067
$colors['info'] = #216FEF
$colors['success'] = #00C379
$colors['warning'] = #E5A03B

// * merge any (non-null) configured colors
for $key, $value in hash-from-list(config("colors"))
  $colors[$key] = convert($value) if $value

$colors['text'] = or($colors['text'], $colors['dark'])
$colors['background'] = or($colors['background'], $colors['light'])

$colors['link']         = or($colors['link'], hsl(210, 75%, 40%))
$colors['link:focus']   = or($colors['link:focus'], lighten($colors['link'],25%))
$colors['link:hover']   = or($colors['link:hover'], lighten($colors['link'],25%))
$colors['link:active']  = or($colors['link:active'], darken($colors['link'],25%))
$colors['link:visited'] = or($colors['link:visited'], hsl(280, 75%, 30%))

$colors['background_html']   = or($colors['background_html'], $colors['dark'])
$colors['background_aside']  = or($colors['background_aside'], $colors['light'])
$colors['background_bar']    = or($colors['background_bar'], $colors['light'])
$colors['background_header'] = or($colors['background_header'], $colors['accent-dark'])
$colors['background_div']    = or($colors['background_div'], $colors['accent-light'])

// p($colors)
